<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>index</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kreon%3A400" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Koulen%3A400" />
    <link rel="stylesheet" href="/static/index.css" />
    <link rel="stylesheet" href="https://pyscript.net/releases/2023.11.1/core.css" />
    <script type="module" src="https://pyscript.net/releases/2023.11.1/core.js"></script>
</head>
<div class="header-F1W">
    <div class="rectangle-1-kkt">
    </div>
    <div class="rectangle-3-oz4">
    </div>
    <div class="logo-i5S">
        <img class="rectangle-2-oMn" src="/static/rectangle-2-xEx.png" />
    </div>
    <div class="search-bar-u9v">
        <div class="searchbar-zSG">
            <div class="rectangle-4-5yW">
            </div>
        </div>
        <div class="lupa-6tc">
            <img class="rectangle-6-Z1W" src="/static/rectangle-6.png" />
        </div>
    </div>
    <div class="homebtn-Mxx">
        <form action="/home" method="post">
            <button type="submit" class="home-FHe">
            </button>
        </form>
        <div class="frame-1-KHW">
        </div>
        <p class="acas-DNt" contenteditable="FALSE">ACASĂ</p>
    </div>
    <div class="mapbtn-buE">
        <form action="/map" method="post">
            <button type="submit" class="map-76t">
            </button>
        </form>
        <p class="map-CPE">HARTĂ</p>
    </div>
    <div class="profilebtn-Ta4">
        <form action="/profil" method="post">
            <button type="submit" class="map-ADa">
            </button>
        </form>
        <p class="map-s7z">PROFIL</p>
    </div>
    <div class="linesbtn-Wgk">
        <form action="/lini" method="post">
            <button type="submit" class="map-z68">
            </button>
        </form>
        <p class="map-gDr">LINI</p>
    </div>
    <div class="reportbtn-jC8">
        <form action="/intarzieri" method="post">
            <button type="submit" class="map-pjN">
            </button>
        </form>
        <p class="map-vXW">ÎNTARZIERI</p>
    </div>
</div>
<body>
    <div class="index-JTe">
        <div class="auto-group-ssnc-cv8">
            <div class="aut-app-xUC">
                <p class="text2-guz">Crează-ți un cont gratuit pentru a putea semnaliza întârzieri</p>
                <div class="auto-group-axcg-bn4">
                    <div class="text-card-Xvc">
                        <p class="examenul-ncepe-in-10-minute-unde-e-autobuzul-SGt">examenul începe in 10 minute unde e autobuzul?</p>
                        <p class="student-oarecare-rV2">~STUDENT OARECARE</p>
                    </div>
                    <div class="text-card2-MAt">
                        <p class="se-presupune-c-ajunge-la-12-30-aum-e-13-15-unde-e-autobuzul-r7e">se presupune cĂ AJUNGE LA 12:30 AUM E 13:15 UNDE E AUTOBUZUL?</p>
                        <p class="pieton-oarecare-kD2">~PIETON OARECARE</p>
                    </div>
                    <p class="text1-f56">
                        Aplicația noastră dorește să va ajute să ajungeți la destinație într-un timp cât mai scurt. Introduceți locația unde doriți să ajungeți și mijlocul de transport dorit și noi găsim o rută care să vă faciliteze dorințele.
                        <br />

                        <br />

                        <br />

                        <br />

                        <br />
                        De ce BusBuddy?
                        <br />

                        <br />
                        Pentru că ne gandim la dumneavoastră, utilizatorul. Și am introdus o modalitate prin care puteți semnaliza întârzierea unui autobuz, dar puteți si vedea întârzierile semnalizate de alți utilizatori.
                    </p>
                    <div class="rectangle-16-Yua">
                    </div>
                </div>
            </div>
            <div class="app-start-Gqa">
                <div class="auto-group-pjur-1HN">



                    <div class="auto-group-mrba-Toa">
                        <p class="text3-Bja">Toată lumea trebuie să ajungă undeva.  Tu cum ajungi acolo?</p>
                        <p class="text4-77S">BusBuddy găsește cea mai rapidă ruta pentrua te ajuta să ajungi unde dorești. </p>
                        <form action="/map" method="post">                     
                          <button type="submit" class="go-to-mapbtn-DgG">Incearcă Gratuit</button>
                        </form>  
                        <div style="display:flex">
                            <form action="/log" method="post">
                                <button type="submit" class="loginbtn-AAG">
                                    <div class="login-ViL ">Log In</div>
                                </button>
                            </form>
                            <form action="/register" method="post">
                                <button type="submit" class="registerbtn-GPe">Creează Cont</button>
                            </form>
                        </div>
                    </div>

                </div>
                <img class="rectangle-13-8Rr" src="/static/rectangle-13.png" />
            </div>
        </div>
        <div class="about-us-FWU">
            <div class="auto-group-kbvn-xvg">
                <div class="cine-suntem-box-Uu2">Cine suntem noi?</div>
                <div class="auto-group-pdvl-jKA">
                    <img class="ellipse-5-4cL" src="/static/ellipse-5.png" />
                    <img class="ellipse-6-Bwr" src="/static/ellipse-6.png" />
                    <img class="ellipse-7-L44" src="/static/ellipse-7.png" />
                </div>
                <div class="auto-group-zwly-g7v">
                    <p class="iustin-paulenco-zuJ">Iustin Paulenco</p>
                    <p class="robert-vlan-XPS">Robert Vlășan</p>
                    <p class="cozmina-scorobete-FKS">Cozmina Scorobete</p>
                </div>
            </div>
            <div class="auto-group-itzn-Nur">
                <p class="iustin-text-X24">Profesor dedicat și entuziast în domeniul programării. De când eram mic, am fost fascinat de lumea tehnologiei și am descoperit că programarea este o modalitate incredibilă de a da viață ideilor și de a rezolva probleme complexe.</p>
                <p class="robi-text-3m6">Sunt pasionat de programare și tehnologie, dorind să evoluez în acest domeniu pe termen lung. Îmi place să mă implic în proiecte, să vin cu idei noi și să ajut colegii în orice mod posibil.</p>
                <p class="cozmina-text-yPr">Inginer Software Asociat la Continetal Automotive Romania. Consider că știința calculatoarelor a apărut pentru a ne ușura viața, totuși o face în moduri prea complicate.</p>
            </div>
        </div>
        <div class="footerbox-W8t">
        </div>
    </div>
</body>
