<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>index</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kreon%3A400" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Koulen%3A400" />
    <link rel="stylesheet" href="/static/index.css" />
    <link rel="stylesheet" href="/static/intarzierii.css" />
    <link rel="stylesheet" href="https://pyscript.net/releases/2023.11.1/core.css" />
    <script type="module" src="https://pyscript.net/releases/2023.11.1/core.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<div class="header-F1W">
    <div class="rectangle-1-kkt">
    </div>
    <div class="rectangle-3-oz4">
    </div>
    <div class="logo-i5S">
        <img class="rectangle-2-oMn" src="/static/rectangle-2-xEx.png" />
    </div>
    <div class="search-bar-u9v">
        <div class="searchbar-zSG">
            <div class="rectangle-4-5yW">
            </div>
        </div>
        <div class="lupa-6tc">
            <img class="rectangle-6-Z1W" src="/static/rectangle-6.png" />
        </div>
    </div>
    <div class="homebtn-Mxx">
        <form action="/home" method="post">
            <button type="submit" class="home-FHe">
            </button>
        </form>
        <div class="frame-1-KHW">
        </div>
        <p class="acas-DNt" contenteditable="FALSE">ACASĂ</p>
    </div>
    <div class="mapbtn-buE">
        <form action="/map" method="post">
            <button type="submit" class="map-76t">
            </button>
        </form>
        <p class="map-CPE">HARTĂ</p>
    </div>
    <div class="profilebtn-Ta4">
        <form action="/profil" method="post">
            <button type="submit" class="map-ADa">
            </button>
        </form>
        <p class="map-s7z">PROFIL</p>
    </div>
    <div class="linesbtn-Wgk">
        <form action="/lini" method="post">
            <button type="submit" class="map-z68">
            </button>
        </form>
        <p class="map-gDr">LINI</p>
    </div>
    <div class="dropdown reportbtn-jC8">
        <!-- "reportbtn-jC8" <form action="/intarzieri" method="post">
        <button type="submit" class="map-pjN">
        </button>
    </form> -->
        <p class="map-vXW">ÎNTARZIERI</p>
        <button class="map-pjN">

           
    </div>
</div>
<body>
    <script>
        // Function to fetch data from Flask backend and generate buttons
        function fetchAndGenerateButtons() {
            $.ajax({
                url: '/get_buttons_data',  // Replace with your actual Flask endpoint
                type: 'GET',
                success: function (data) {
                    // Assuming data is an array of button objects
                    data.forEach(function (button) {
                        generateButton(button.title, button.description);
                    });
                },
                error: function (error) {
                    console.error('Error fetching data:', error);
                }
            });
        }
    
        // Function to dynamically generate a button
        function generateButton(title, description) {
            var buttonDiv = $('<div class="col-12" style="padding: 60px;">');
            var button = $('<button class="btn" type="button">');
            var titleSpan = $('<span class="bTitle">').text(title);
            var br = $('<br>');
            var textSpan = $('<span class="bText">').text(description);
    
            // Assemble the button structure
            button.append(titleSpan, br, textSpan);
            buttonDiv.append(button);
    
            // Append the button to the body or any other container
            $('body').append(buttonDiv);
        }
    
        // Call the function when the page loads or as needed
        $(document).ready(function () {
            fetchAndGenerateButtons();
        });
    </script>
</body>



