<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>profilePage</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Koulen%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kreon%3A400"/>
  <link rel="stylesheet" href="/static/profilepage.css"/>
</head>
<body>
<div class="profilepage-fyv">
  <div class="header-DEk">
    <div class="rectangle-1-Ynp">
    </div>
    <div class="rectangle-3-6JY">
    </div>
    <img class="rectangle-2-dpG" src="/static/rectangle-2-upY.png"/>
    <div class="search-bar-ApC">
      <div class="searchbar-uFz">
        <div class="rectangle-4-TYQ">
        </div>
      </div>
      <div class="lupa-kXW">
        <img class="rectangle-6-f8g" src="/static/rectangle-6-2qJ.png"/>
      </div>
    </div>
    <div class="homebtn-Non">
      <form action="/home" method="post">
      <button type="submit" class="home-KDE">
      </button>
      </form>
      <div class="frame-1-Fsa">
      </div>
      <p class="acas-Pyn">ACASĂ</p>
    </div>
    <div class="mapbtn-6NQ">
      <form action="/map" method="post">
      <button type="submit" class="map-SBN">
      </button>
      </form>
      <p class="map-mjS">HARTĂ</p>
    </div>
    <div class="profilebtn-Udr">
      <div class="map-ow2">
      </div>
      <p class="map-Lvx">PROFIL</p>
    </div>
    <div class="linesbtn-Fo2">
      <form action="/lini" method="post">
      <button type="submit" class="map-CTN">
      </button>
      </form>
      <p class="map-LJg">LINI</p>
    </div>
    <div class="reportbtn-SMi">
      <form action="/intarzieri" method="post">
      <button type="submit" class="map-mun">
      </button>
      </form>
      <p class="map-uWC">ÎNTARZIERI</p>
    </div>
  </div>
  <div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
<div class="col-xl-6 col-md-12">
                                                <div class="card user-card-full">
                                                    <div class="row m-l-0 m-r-0">
                                                        <div class="col-sm-4 bg-c-lite-green user-profile">
                                                            <div class="card-block text-center text-white">
                                                                <div class="m-b-25">
                                                                    <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image">
                                                                </div>
                                                                <h6 class="f-w-600">BUS Buddy jr</h6>
                                                                <p>Web Designer</p>
                                                                <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <div class="card-block">
                                                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Informati</h6>
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <p class="m-b-10 f-w-600">Email</p>
                                                                        <h6 class="text-muted f-w-400">rntng@gmail.com</h6>
                                                                    </div>
                                                                    
                                                                </div>
                                                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Projects</h6>
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <p class="m-b-10 f-w-600">Rute recente</p>
                                                                        <h6 class="text-muted f-w-400">FMI</h6>
                                                                    </div>
                                                                    
                                                                </div>
                                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                             </div>
                                                </div>
                                            </div>
</div>
</body>